body,
html,
.maindiv {
  height: 100%;
  margin: 0;
  
}

.maindiv {
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}

.maincontainer {
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.logbtn {
  border: none;
  width: 100px;
}

.logindiv {
  border-radius: 10px;
}


.content-right img {
  width: 500px;
  height: auto;
  position: relative;
}

.ikon {
  height: 40px;
  width: fit-content;
  padding: 5px;
}

.GoogleLogin {
  margin-left: 5px;
}

.logo {
  width: 7%;
  height: auto;
  justify-content: left;
}

.logo-container {
  flex: 0 0 auto;
  padding: 10px;
  justify-content: left;
}

.form-floating .form-control:focus,
.form-floating .form-control:focus {
  border-color: #fe0d0089;
  box-shadow: 0 0 0 0.25rem rgba(254, 12, 0, 0.25);
}