#otpInput{
    border-color: black; 
    border-width: 3px;
    text-align: center;
}
#embtn{
    margin-top:15px;
    background-color: black;
    border: none;
    width: 125px;
    height: 40px;
}
#rsndbtn{
  border-width: 3px;

}